
@import "bootswatch/dist/yeti/bootstrap.min.css";
@import "react-big-calendar/lib/css/react-big-calendar.css";


.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px; 
  background-color: #a99edb ;    
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: 1px solid  #8272cb;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}
.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #9284d2;
}

.rbc-today {
  background-color:#e5e1f4;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 10px; /* opcional - ajusta el espaciado entre botones */
}

.text-danger {
  color: red;
}

