
@import "bootswatch/dist/minty/bootstrap.min.css";
@import "react-big-calendar/lib/css/react-big-calendar.css";


.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #89d9c0; 
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: 1px solid  #1aab7d;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}
.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #67b79e;
}

.rbc-today {
  background-color:#daf0e9;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 10px; /* opcional - ajusta el espaciado entre botones */
}


