
@import "bootswatch/dist/yeti/bootstrap.min.css";
@import "react-big-calendar/lib/css/react-big-calendar.css";


.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px; 
  background-color: #4ba3c3 ;    
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: 1px solid  #006daa;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}
.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #006daa;
}

.rbc-today {
  background-color: #e1eff6
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 10px; /* opcional - ajusta el espaciado entre botones */
}

.text-danger {
  color: red;
}

.search-container {
  margin-bottom: 20px;
  border: 2px solid #e3d1d1;
  padding: 10px;
}

.search-input input {
  width: 30%;
  padding: 8px;
  font-size: 16px;
  border: darkgray 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.search-container {
  background-color: #8bbbff;
  padding: 10px;
  margin-bottom: 20px;
}

.search-container h2 {
  margin-top: 0;
}

.excel {
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 5%;
}

/* styles.css */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.table th {
  background-color: #d0e0f6;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table .btn {
  margin-right: 5px;
}



